@let loading = loading$ | async ;

<div class="container">
  @if (loading) {
    <div [@showHide] class="loading header-text">
      <shaking-text class="text" text="Loading..."></shaking-text>
    </div>
  } @else {
    <div [@showHide] class="main-grid">
      <div class="logo">
        <img [attr.src]="logoUrl" alt="Vanya Goncharov">
      </div>

      <div class="header-text main-header">
        <shaking-text text="Hi, I’m Ivan Goncharov!"></shaking-text>
        <br/>
        <br/>
      </div>


      <div class="links-wrapper">
        <div class="links">
          <div class="header-text links-header">
            <shaking-text text="My contacts:"></shaking-text>
            <br/>
          </div>
          <a class="link" href="https://t.me/gun_ivan" target="_blank">
            <img alt="telegram" src="assets/images/telegram.png">
          </a>
          <a class="link" href="https://www.instagram.com/guncheatnoir" target="_blank">
            <img alt="instagram" src="assets/images/instagram.png">
          </a>
          <a class="link" href="https://github.com/Gun-che" target="_blank">
            <img alt="github" src="assets/images/github.png">
          </a>
        </div>
      </div>

      <div class="description">
        <div class="header-text description-header">
          <shaking-text class="desktop" text="A little about me:"></shaking-text>
          <shaking-text class="mobile" text="About me:"></shaking-text>
          <br/>
        </div>
        <br/>
        <div class="regular-text">
          🦄 Senior Frontend Developer at
          <br/>
          “
          <shaking-text text="netmonet" class="accent-text"></shaking-text>
          ”<br/>
          🚀 Crafting sleek interfaces with Angular(not React) magic<br/>
          😎 Rap lover, taco enthusiast, watermelon fan<br/>
          🛹 Skateboarding and 🎱 pool enjoyer<br/>
          🦜 Explorer of new places, admirer of cockatoos<br/>

          <br/>

        </div>
      </div>

      <div class="footer">
        <div class="regular-text">
          <shaking-text text="Code, skate, repeat" class="accent-text"></shaking-text>
          — let’s collaborate!
          <br/>
          <br/>
          Press "
          <shaking-text (click)="toggleRap()" text="F" class="accent-text f"></shaking-text>
          " to pay respect!
        </div>
      </div>
    </div>
  }
</div>